.btn {
  font-size: $font-size-md;
  cursor: pointer;

  &.disabled {
    cursor: not-allowed;
  }

  + .btn {
    margin-left: 1rem;
  }
}

.btn-sm {
  font-size: $font-size-sm;
  box-shadow: none;

  &.btn-info {
    border: 1px solid $gray-300;
  }

  &.btn-square {
    width: 1.9rem;
  }
}

.btn-lg {
  font-size: $font-size-md;
}

.btn-secondary {
  color: $white;

  &:hover {
    color: $white;
  }
}

.btn-square {
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: 2.5rem;
}

.btn-flat {
  font-size: $font-size-base;
  padding: $input-padding-y $input-padding-x;
  box-shadow: none;
  color: $black;
  border: 1px solid $input-group-btn-border-color;
  background: $white;

  @include hover-focus {
    background: darken($white, 3%);
  }
}

.btn-loading {
  &:before {
    @include spin;

    content: "";
    display: inline-block;
    vertical-align: text-bottom;
    width: $font-size-md;
    height: $font-size-md;
    margin-right: .5rem;
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, .2);
    border-top-color: #fff;
  }

  &.btn-sm:before {
    width: $font-size-sm;
    height: $font-size-sm;
  }
}
