.btn {
  font-size: $font-size-md;
  cursor: pointer;

  + .btn {
    margin-left: 1rem;
  }
}

.btn-sm {
  font-size: $font-size-sm;
  box-shadow: none;

  &.btn-square {
    width: 1.9rem;
  }
}

.btn-lg {
  font-size: $font-size-md;
}

.btn-secondary {
  color: #fff;

  &:hover {
    color: #fff;
  }
}

.btn-square {
  padding-left: 0;
  padding-right: 0;
  width: 2.5rem;
}
