.card {
  border: none;
}

.card-body {
  padding: $card-spacer-y $card-spacer-x;

  .card-text:last-of-type {
    margin-bottom: 0;
  }

  .form-group + .card-actions {
    margin-top: $form-group-margin-bottom * -1;
  }

  .card-actions {
    text-align: center;
    padding-top: $card-spacer-x;

    .btn.btn-primary.btn-lg {
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }

  .card-link + .card-link {
    margin-left: 1rem;
  }

  @include media-breakpoint-down(xs) {
    .card-actions .btn, .card-link {
      display: block;
      width: 100%;
    }

    .card-actions .btn + .btn, .card-link + .card-link {
      margin-left: 0;
      margin-top: .75rem;
    }
  }
}
