.card {
  border: none;
}

.card-body {
  padding: $card-spacer-y $card-spacer-x;

  .card-text:last-of-type {
    margin-bottom: 0;
  }

  .card-actions {
    text-align: center;
    padding-top: $card-spacer-x;
  }

  .card-link + .card-link {
    margin-left: 1rem;
  }

  .btn + .btn {
    margin-left: 1rem;
  }
}
