.dropdown-item {
  &.hover {
    color: $dropdown-link-hover-color;
    text-decoration: none;
    background-color: $dropdown-link-hover-bg;
  }

  &.disabled, &:disabled {
    color: $dropdown-link-disabled-color !important;
    background-color: transparent !important;
    cursor: not-allowed;
  }
}
