.form-control-plaintext {
  background: transparent;
}

:not(.custom-controls-stacked) > .custom-control {
  margin-bottom: 0;
}

.custom-control {
  cursor: pointer;

  .custom-control-indicator {
    @include transition($transition-slide);

    background-position: 0 0;
  }

  .custom-control-input:checked ~ .custom-control-indicator {
    transform: scale(1.2);
    background-position: center center;
  }
}
