.form-inline > * + * {
  margin-left: 1rem;
}

.form-control {
  padding: $input-padding-y $input-padding-x;

  &.disabled, &[disabled] {
    cursor: not-allowed;
  }

  &:not(.disabled):not([disabled]) {
    @include hover {
      background-color: $input-focus-bg;
      outline: none;

      &:not(.is-invalid) {
        @include box-shadow($input-focus-box-shadow);

        border-color: $input-focus-border-color;
      }
    }

    &.is-invalid {
      box-shadow: none;

      @include hover-focus {
        @include box-shadow($btn-invalid-box-shadow);
      }
    }
  }
}

.form-control-plaintext {
  background: transparent;
}

:not(.custom-controls-stacked) > .custom-control {
  margin-bottom: 0;
}

.custom-control {
  cursor: pointer;
  margin-left: 0 !important;

  .custom-control-indicator {
    @include transition($transition-slide);

    background-position: 0 0;
  }

  .custom-control-input:checked ~ .custom-control-indicator {
    transform: scale(1.2);
    background-position: center center;
  }
}
