a {
  @include transition($transition-link);

  cursor: pointer;

  &:focus {
    outline: 0;
  }

  &.link-dark {
    color: $link-dark-color;

    @include hover-focus {
      color: $link-dark-hover-color;
    }
  }
}

@each $color, $value in $theme-colors {
  a:not([href]):not([tabindex]).btn-#{$color} {
    &, &:hover {
      color: color-yiq($value);
      text-decoration: none;
    }
  }

  a:not([href]):not([tabindex]).btn-outline-#{$color} {
    color: $value;
    text-decoration: none;

    @include hover-focus {
      color: #fff;
      text-decoration: none;
    }
  }

  a:not([href]):not([tabindex]).badge-#{$color} {
    color: color-yiq($value);
    background-color: $value;

    @include hover-focus {
      color: color-yiq($value);
      text-decoration: none;
      background-color: darken($value, 10%);
    }
  }
}
