a {
  @include transition($transition-link);

  cursor: pointer;

  &:focus {
    outline: 0;
  }

  &.link-dark {
    color: $link-dark-color;

    @include hover-focus {
      color: $link-dark-hover-color;
    }
  }
}
