// Button size
$button-height: 2.5rem;
$button-width: 4.5rem;

// Color
$background-selected-color: $gray-400;
$text-hover-color: black;

// Position
$top-offset: 3rem;
$z-index: 999;

// Other
$border-width: 2px;
